.receita__botao {
    background-color: var(--vermelho__vinho);
    border: none;
    border-radius: 5px;
    color: var(--branco__banner);
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background-color: var(--vermelho__vinho--hover);
    cursor: pointer;
}