.sobre__titulo {
    color: var(--vermelho__vinho);
    font-family: var(--fonte__base);
    font-size: 3.1875rem;
}

@media screen and (min-width: 0px) {
    .sobre__titulo {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: 3.1875rem;
    }
}