@import url(../sobre/rodape.css);
@import url(../sobre/sobre-descricao.css);
@import url(../sobre/sobre-titulo.css);


.sobre {
    padding: 2.5rem;
    text-align: center;
}

@media screen and (min-width: 0) {
    .sobre {
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre {
        padding: 2.5rem;
    }
}